{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CHITCOM</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'home/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'home/css/small-business.css' %}" rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home:index' %}">CHITCOM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home:index' %}">Главная страница
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chiters:chiters' %}">Читеры</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:about' %}">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:contact' %}">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
      {% block content %}
      {% endblock %}
      </div>
    </div>
  </div>
  <br>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Chechen IT Community 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'home/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'home/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>