{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CHITCOM</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'home/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'home/css/small-business.css' %}" rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home:index' %}">CHITCOM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home:index' %}">Главная страница
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'news:index' %}">Новости</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chiters:chiters' %}">Читеры</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:about' %}">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:contact' %}">Контакты</a>
          </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>  
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
      {% block content %}
      {% endblock %}
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="text-light">
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-lg-4 col-xl-3">
                  <h5>О нас</h5>
                  <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                  <p class="mb-0">
                      Chechen IT Community - сообщество по развитию IT-сферы по Чеченской Республике
                  </p>
              </div>

              <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                  <h5>Informations</h5>
                  <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                  <ul class="list-unstyled">
                      <li><a href="">Link 1</a></li>
                      <li><a href="">Link 2</a></li>
                      <li><a href="">Link 3</a></li>
                      <li><a href="">Link 4</a></li>
                  </ul>
              </div> -->

              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                  <h5>Ссылки</h5>
                  <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                  <ul class="list-unstyled">
                      <li><a href="{% url 'home:index' %}">Главная страница</a></li>
                      <li><a href="{% url 'news:index' %}">Новости</a></li>
                      <li><a href="{% url 'chiters:chiters' %}">Читеры</a></li>
                      <li><a href="{% url 'home:about' %}">О нас</a></li>
                      <li><a href="{% url 'home:contact' %}">Контакты</a></li>
                  </ul>
              </div>

              <div class="col-md-4 col-lg-3 col-xl-3">
                  <h5>Контакты</h5>
                  <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                  <ul class="list-unstyled">
                      <li>CHITCOM</li>
                      <li>Чеченская Республика</li>
                      <li>chitcomhub@mail.ru</li>
                      <!-- <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                      <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li> -->
                  </ul>
              </div>
              <div class="col-12 copyright mt-3">
                  <p class="float-left">
                      <a href="#">Вверх</a>
                  </p>
              </div>
              <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; CHITCOM 2018</p>
              </div>
          </div>
      </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'home/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'home/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>