{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CHITCOM</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{% static 'home/css/small-business.css' %}" rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home:index' %}">CHITCOM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'news:index' %}">Новости
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'paperchit:index' %}">Статьи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chiters:chiters' %}">Читеры</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:about' %}">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:contact' %}">Контакты</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'news:post-create' %}">Новый пост</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>  
  <br>

  <div class="container">
    <div class="row">
      <div class="col">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock %}
      <br>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="text-light">
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-lg-4 col-xl-3">
                  <h5>О нас</h5>
                  <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                  <p class="mb-0">
                      Chechen IT Community - сообщество по развитию IT-сферы по Чеченской Республике
                  </p>
              </div>

              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                  <h5>Ссылки</h5>
                  <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                  <ul class="list-unstyled">
                      <li><a href="{% url 'home:index' %}">Главная страница</a></li>
                      <li><a href="{% url 'news:index' %}">Новости</a></li>
                      <li><a href="{% url 'chiters:chiters' %}">Читеры</a></li>
                      <li><a href="{% url 'home:about' %}">О нас</a></li>
                      <li><a href="{% url 'home:contact' %}">Контакты</a></li>
                  </ul>
              </div>

              <div class="col-md-4 col-lg-3 col-xl-3">
                  <h5>Контакты</h5>
                  <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                  <ul class="list-unstyled">
                      <li>CHITCOM</li>
                      <li>Чеченская Республика</li>
                      <li>chitcomhub@mail.ru</li>
                  </ul>
              </div>
              <div class="col-12 copyright mt-3">
                  <p class="float-left">
                      <a href="#">Вверх</a>
                  </p>
              </div>
              <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; CHITCOM 2018</p>
              </div>
          </div>
      </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>