{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<!-- Page Content -->
<div class="container">

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-8">
      <img class="img-fluid rounded" src="{% static 'home/images/banner.png' %}" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
      <h1>Chechen IT Community</h1>
      <p>Площадка для IT-специалистов Чеченской Республики. Давайте вместе развивать IT-сферу нашей Республики. Вступайте в наше сообщество.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'chiters:register' %}">Вступить</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">Сайт находится на стадии разработки! Последнее обновление сайта было в 22:00 12.11.2018</p>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Веб-приложения</h2>
          <p class="card-text">Здесь собраны материалы по веб-разработке</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Мобильные приложения</h2>
          <p class="card-text">Здесь собраны материалы по разработке мобильных приложений</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Нейронные сети</h2>
          <p class="card-text">Здесь собраны материалы по нейронным сетям</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}