{% load static %}
<!doctype html>
<html> 
<head> 
	<meta charset="utf-8" />
	<title>CHITCOM</title>
	<link href="{% static 'home/css/style.css' %}" rel="stylesheet"/>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'home/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'home/css/small-business.css' %}" rel="stylesheet">
</head>

<body>
	<div id="level">
		<div id="content">
			<div id="gears">
				<div id="gears-static"></div>
				<div id="gear-system-1">
					<div id="gear15"></div>
					<div id="gear14"></div>
					<div id="gear13"></div>
				</div>
				<div id="gear-system-2">
					<div id="gear10"></div>
					<div id="gear3"></div>
				</div>
				<div id="gear-system-3">
					<div id="gear9"></div>
					<div id="gear7"></div>
				</div>
				<div id="gear-system-4">
					<div id="gear6"></div>
					<div id="gear4"></div>
				</div>
				<div id="gear-system-5">
					<div id="gear12"></div>
					<div id="gear11"></div>
					<div id="gear8"></div>
				</div>
				<div id="gear1"></div>
				<div id="gear-system-6">
					<div id="gear5"></div>
					<div id="gear2"></div>
				</div>
				<div id="chain-circle"></div>
				<div id="chain"></div>
				<div id="weight"></div>
			</div>
			<div id="title">
				<h1>Добро пожаловать на сайт Chechen IT Community</h1>
				<p>На данный момент сайт находится на стадии разработки</p>
				<p><a href="{% url 'home:index' %}">Вернуться на сайт</a></p>
			</div>
		</div>
	</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'home/jquery/jquery.min.js' %}"></script>
<script src="{% static 'home/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>