{% load static %}
<!doctype html>
<html> 
<head> 
	<meta charset="utf-8" />
	<title>Технические работы</title>
	<link href="{% static 'home/css/style.css' %}" rel="stylesheet"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<div id="level">
		<div id="content">
			<div id="gears">
				<div id="gears-static"></div>
				<div id="gear-system-1">
					<div id="gear15"></div>
					<div id="gear14"></div>
					<div id="gear13"></div>
				</div>
				<div id="gear-system-2">
					<div id="gear10"></div>
					<div id="gear3"></div>
				</div>
				<div id="gear-system-3">
					<div id="gear9"></div>
					<div id="gear7"></div>
				</div>
				<div id="gear-system-4">
					<div id="gear6"></div>
					<div id="gear4"></div>
				</div>
				<div id="gear-system-5">
					<div id="gear12"></div>
					<div id="gear11"></div>
					<div id="gear8"></div>
				</div>
				<div id="gear1"></div>
				<div id="gear-system-6">
					<div id="gear5"></div>
					<div id="gear2"></div>
				</div>
				<div id="chain-circle"></div>
				<div id="chain"></div>
				<div id="weight"></div>
			</div>
			<div id="title">
				<h1>Добро пожаловать на сайт Chechen IT Community</h1>
				<p>На данный момент сайт находится на стадии разработки</p>
			</div>
		</div>
	</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</body>
</html>



<!doctype html>
<html> 
<head> 
	<meta charset="utf-8" />
	<title>Technical works</title>
	<link href="style.css" rel="stylesheet"/>
</head> 
<body>

</body>
</html>