{% extends 'home/base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'news:index' %}">Новости</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
    </ol>
</nav>

<div class="card mb-3">
  {% if post.pic %}
  <img class="card-img-top" src="/news{{ post.pic.url }}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.context }}</p>
  	<div class="article-metadata">
		<a class="mr-2" href="#">{{ post.author }}</a>
		<small class="text-muted">{{ post.datetime|date:"F d, Y" }}</small>
	</div>
  </div>
</div>
{% endblock %}