{% extends 'home/base.html' %}

{% block content %}

<h5><b>Таблица читеров</b></h5>
<div class="table-responsive">
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Имя</th>
				<th scope="col">Телеграм</th>
				<th scope="col">ИТ-направление</th>
				<th scope="col">Скиллы</th>
			</tr>
		</thead>
		<tbody>
			{% for chiter in chiter_list %}
			<tr>
				<th scope="row">{{ chiter.name }}</th>
				<th>@{{ chiter.nickname }}</th>
				<th>{{ chiter.direction }}</th>
				<th>{{ chiter.technology }}</th>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}