{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
	  <div class="media">
	    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
	    <div class="media-body">
	      <h2 class="account-heading">{{ user.username }}</h2>
	      <p class="text-secondary">{{ user.email }}</p>
	    </div>
	  </div>
	  <h1>Профиль</h1>
		<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
			{{ u_form|crispy }}
			{{ p_form|crispy }}
			<button class="btn btn-primary" type="submit">Обновить</button>
		</form>
	</div>
{% endblock %}